{
  "presets": ["env"],
  "env": {
    "development": {
      "presets": [["env", {
        "modules": false,
        "targets": {
          "browsers": ["Chrome 57"]
        }
      }]]
    },
    "production": {
      "presets": [["env", {
        "modules": false
      }]]
    }
  }
}
