body {
    font-family: sans-serif;
    min-height: 100%;
    margin: 0;
}

@mixin center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin remove-text {
    color: transparent;
}

@mixin fill-image($url: '', $palceholderUrl: '') {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };

    @if $url != '' {
        @if palceholderUrl != '' {
            background-image: url($url), url($palceholderUrl);
        } @else {
            background-image: url($url);
        }
    }
}

@mixin square {
    display: block;
    height: .00001px;
    padding-bottom: 100%;
    width: 100%;
}

@mixin cover {
    height: 100%;
    width: 100%;
}

.logo {
    @include center;
    @include remove-text;

    margin: 0 {
        top: -1em;
    };
    max-width: 16em;
    width: 75%;

    &:before {
        @include fill-image('./images/logo.svg', './images/logo.png');
        @include square;

        content: "";
    }
}

.social-buttons {
    bottom: 2em;
    position: absolute;
    width: 100%;

    text-align: center;

    &__button {
        @include remove-text;

        cursor: pointer;
        display: inline-block;
        width: 5em;

        &:before {
            content: "";
            @include square;
            @include fill-image;
            border-radius: 100%;
        }

        &--facebook {
            margin-right: .75em;

            &:before {
                background: {
                    color: #3c5a9a;
                    image: url(./images/facebook.svg);
                };
            }
        }

        &--instagram {
            margin-left: .75em;

            &:before {
                background: {
                    color: #e1306c;
                    image: url(./images/instagram.svg);
                };
            }
        }
    }
}
