<!DOCTYPE html>
<html lang="pl">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1><%= title %></h1>
        <img src="./images/placek_01.jpg" />
    </body>
</html>
