<!DOCTYPE html>
<html lang="pl">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content" Wypieki tworzone z pasją specjalnie dla Ciebie. Najwyższa jakość składników, najlepszy smak. Darmowa dostawa w Poznaniu.">
        <meta name="keywords" content="domowe ciasta,torty,ciasteczka,na zamówienie,cukiernia,Poznań">
    </head>
    <body>
        <h1><%= title %></h1>
    </body>
</html>
